*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(202, 216, 227, 0.522);
}
#firstview{
  width: 100%;
  height: 80vh;
  /* background-color: rgb(53 , 190, 134); */
  background-image: url(/static/data/5172658.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  .slider_container {
   background-color: transparent;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

 
  }
  .rankbox{
    width: 100%;
    height: 45%;
    background-color: transparent;


  }

  .slider {
    position: relative;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
  border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    animation: 10s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
    
  
  }
  .slide {
    position: relative;
    border-radius: 10px;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    /* margin: 0px 5px; */
  }
  .slide img {
    width: 100%;
    height: 100%;

  }
  .slide .caption {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
  }
  .slide.one {
    background: rgba(128, 128, 128, 0.576);
  }
  .slide.two {
    /* background: rgb(255, 64, 64); */
    background: rgba(128, 128, 128, 0.576);
  }
  .slide.three {
    /* background: rgb(11, 173, 188); */
    background: rgba(128, 128, 128, 0.576);
  }
  .slide.four {
    /* background: rgb(11, 188, 14); */
    background: rgba(128, 128, 128, 0.576);
  }
  .slide.five {
    /* background: rgb(173, 11, 188); */
    background: rgba(128, 128, 128, 0.576);
  }
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
  

  /* leaderbox */

  #leaderbox{
    width: 100%;
    height: 15%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  
  }
  .leaderbox_text{
    font-size: 23px;
    color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .leaderbox_type{
    width: 40%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .alltime{
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
  }

  /* rankbox */

  .ranking_contener{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


  }
  .rankingbox{
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 5px;
  }
  .rankingstudentname{
    color: white;
    font-size: 20px;
  }

  .rank2nd{
    width: 100%;
    height: 70%;
    background-color:rgb(192,192,192);
    border-radius: 10px 10px 0px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

  }
  .rank1st{
    width: 100%;
    height: 90%;
    background-color: gold;
    border-radius: 10px 10px 0px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
  .rank3rd{
    width: 100%;
    height: 60%;
    background-color:rgb(205, 127, 50);
    border-radius: 10px 10px 0px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }

  .rankinnumber{
    color: white;
    font-size: 30px;
  }
  #rankingdepartment{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }