*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contener{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

            
}
.bgphoto{
    width: 100%;
    height: 60%;
    /* background-image: url(/static/data/frontpage-removebg\ \(1\)\ \(1\).png); */
    /* background-color: red; */
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loging{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
     
    
}
.cod{
width: 100%;  
font-size: 22px;
color: white;
padding: 2px 15px;
font-weight: 400;
font-family: monospace;


}
.ranking{
    color: rgba(53 , 190, 134);
    font-weight: 600;
    font-size: 30px;
    text-shadow: 0px 0px  2px rgba(53 , 190, 134);

}
.loginbtnbox{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
#letsgo{
    width: 50%;
    height: 100%;
    background-color:rgb(53 , 190, 134) ;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 #letsgo  a{
    text-decoration: none;
    color: white;
}

#clglog{
    color: gray;
    margin-top: 20px;
    font-family: monospace;
    font-size: 15px;
}