*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top10_contener{
    width: 100%;
    height: 50vh;
    background-color: rgb(1, 23, 72);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

#leaderbox{
    width: 100%;
    height: 25%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  
  }
  .leaderbox_text{
    font-size: 23px;
    color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .leaderbox_type{
    width: 80%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .top10 , .overall{
    padding: 5px 10px;
    border-radius: 20px;
  }
  .top10_contener_logo{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
  }



  /* top10_list_contener */
  .top10_list_contener{
    width: 100%;
    /* background-color: rgba(202, 216, 227, 0.522); */
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 46vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }

.top10_list_box{
width: 97%;
height: 60px;
/* background-color: aqua; */
display: flex;
justify-content: space-around;
align-items: center;
background-color: rgba(128, 128, 128, 0.288);
border-radius: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top10_list_number{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.top10_list_cgpa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
.top10_list_name_box{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start; 
    flex-direction: column;
    font-size: 18px;
    gap: 2px;
}
.top10_list_department{
    font-size: 12px;
    color: gray;
}