<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/department.css" %}">
<title>Department</title>
<body>


  <section class="uplodfile_contener">
    <div class="uplodfile_box">
        <div class="uplodfiletext">
            <div class="fileuplod_date">8 April 2024</div>
            {% for index, student in sorted_df.iterrows %}
            
            {% if forloop.counter == 1 %}

                {% if student.Department == 'BSC(IT)' %}
                    <div class="examstudent">BCA & Information Technology</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}
            
                {% if student.Department == 'BCA' %}
                <div class="examstudent">BCA & Information Technology</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}
                
                {% if student.Department == 'BSC(PHY)' %}
                <div class="examstudent">Zoology</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}
                
                {% if student.Department == 'BSC(CHE)' %}
                <div class="examstudent">Chemistry</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}
                
                {% if student.Department == 'BSC(MAT)' %}
                <div class="examstudent">Mathematics</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}
                
                {% if student.Department == 'BSC(BOT)' %}
                <div class="examstudent">Botany</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}

                {% if student.Department == 'BSC(ZOO)' %}
                <div class="examstudent">Zoology</div>
                <div class="totalstudent">{{ students_count }}</div>
                {% endif %}
                
                
            
            
            {% endif %}
            {% endfor %}

            
        </div>
    
    
        <div class="uplodfilearea">
    <div class="uplodfilear_logo"> <img src="/static/data/sharing (1).png" width="100%"  alt=""></div>
    <div class="uplodfile_btn_box">
    </div>
    </div>
    
        </div>
    </div>
    
    </section>

<!-------------- listt of Student1 ---------------------->

  <section class="department_list_contener">
    {% for index, student in sorted_df.iterrows %}
    <div class="department_list_box">
    <div class="list_number">#{{ forloop.counter }}</div> 
    <div class="list_name">{{ student.Name }}</div>
    <div class="list_cgpa"> {{ student.CGPA }}</div>     
    </div>
    {% endfor %}
  </section>
  
 </body>

</html>
































{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="background-color: black;">
    {% for index, student in sorted_df.iterrows %}
    <div class="student-info">
        <p><strong>Rank:</strong> {{ forloop.counter }} <!-- Starting rank from 1 -->
        <p><strong>Name:</strong> {{ student.Name }}</p>
        <p><strong>Roll Number:</strong> {{student.Regd_No}}</p>
        <p><strong>Semester:</strong> {{ student.Semester }}</p>
        <p><strong>Current SGPA:</strong> {{ student.SGPA }}</p>
        <p><strong>CGPA:</strong> {{ student.CGPA }}</p>
        <p><strong>Department:</strong> {{ student.Department }}</p>
    </div>
{% endfor %}
</body>
</html> {% endcomment %}